@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'GMX Black';
    src: url('../fonts/GMX-Black.ttf');
}


body {
    font-family: 'Montserrat Regular';
}

/* Estilos de fuente */


.font-bold {
    font-family: 'Montserrat Bold';
}

.font-regular {
    font-family: 'Montserrat Regular';
}

.font-light {
    font-family: 'Montserrat SemiBold';
}

.font-GMX {
    font-family: 'GMX Black';
}

/* Colores */
.text-violet{
    color: #6A265C;
}

.bg-yellow {
    background-color: #F0AE19;
}

.bg-gray {
    background-color: #333333;
}

.bg-grayblack {
    background-color: #1A1A1A;
}

/* Se reescriben clases para personalizar el tema e identidad */
.nav-link{
    color: #6A265C;
}

.nav-pills .nav-link.active {
    background-color: #56ACE2;
}

.link-footer {
    height: 50px;
}

.logo-footer {
    height: 70px;
}